{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp/createAccount.html</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
</head>

<body>
    <div id="particles-js">
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}" class="border">Home</a></li>
                <li><a href="{% url 'sharePlatformSearch' %}" class="border">Article</a></li>
                <li><a href="{% url 'login' %}" id="user">Login</a></li>
            </ul>
        </nav>

    <div id="main">
        <h1>アカウント作成</h1>
        <div id="inputBox">
            <form id="pushUserData" action="{% url 'createAccount' %}" method="POST">
                {% csrf_token %}

                <!--ユーザーネーム入力欄-->
                <div class="inBox">
                    <label for="userid">ユーザーID<br>
                        <input id="userid" name="userid" type="text" placeholder="User ID" required>
                    </label>
                </div>

                <!--パスワード入力欄-->
                <div class="inBox">
                    <label for="pssword">パスワード<br>
                        <input id="password" name="password" type="text" placeholder="Password" required>
                    </label>
                </div>

                <button type="submit" id="buttonForCreate">Go</button>
            </form>
        </div>
    </div>
    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
    <script>
        /* headerパーツ*/
        if ("{{ userid | safe }}") {
            const userID = "{{ userid | safe }}";
            const userElement = document.getElementById('user');
            userElement.textContent = userID;
            userElement.removeAttribute("href");
        };

        /* cookie関連 */
        const pushUserData = document.getElementById('pushUserData');
        
        pushUserData.addEventListener("submit", () => {
                    const userid = document.getElementById('userid').value;
                    const password = document.getElementById('password').value;
                    const userData = {
                        "userid": userid,
                        "password": password,
                    };

            /* cookie保存の詳細:
            
            path= 'cookieが有効になる文書のパス'
            max-age= cookieの有効期限(秒)
            samesite= lax または strict (xsrf攻撃対策) 
            
            */

            const path = '/';
            const maxAge = '60*60*24*30';
            const samesite = 'lax';

            /*userIDをcookieに保存*/
            document.cookie = "userid=" + userid +
                "; path=" + path +
                "; max-age=" + maxAge +
                "; samesite=" + samesite;

            /*passwordをcookieに保存*/
            document.cookie = "password=" + password +
                "; path=" + path +
                "; max-age=" + maxAge +
                "; samesite=" + samesite;
        })
    </script>
</body>

</html>