{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp/createAccountEnd.html</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
</head>

<body>
    <div id="particles-js">
        <div id="wrapper">
            <div id="header">
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}" class="border">Home</a></li>
                        <li><a href="{% url 'sharePlatformSearch' %}" class="border">Article</a></li>
                        <li><a href="{% url 'login' %}" id="userid">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div id="main">
                <h1>アカウント作成が完了しました</h1>
                <div id="underInBox">
                    <a href="{% url 'index' %}" id="movePage">Topへ戻る</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
    <script>
        if ("{{ userid | safe }}") {
            const userID = "{{ userid | safe }}";
            const userElement = document.getElementById('user');
            userElement.textContent = userID;
            userElement.removeAttribute("href");
        }
    </script>
</body>

</html>