{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    
</head>

<body>
    <div id="header">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}" id="pageTitle">BreakingCipher.jp</a></li>
                <li><a href="{% url 'sharePlatformSearch' %}">暗号投稿記事一覧へ</a></li>
                <li><a href="{% url 'login' %}" id="user">ログイン</a></li>
            </ul>
        </nav>
    </div>

    <div id="main">
        <div class="articleBox">
            <h1>BreakingCipherとは</h1>

            <!-- このサイトの説明を追加予定-->

        </div>
        <div class="articleBox">
            <h2 id="HowToPost">記事の投稿の仕方</h2>

            <!--記事の投稿の仕方-->

            <h2>このサイトの中には....</h2>

            <!--公式暗号についての説明-->
        </div>
    </div>

    <script src="{% static 'index.js' %}" defer></script>
    <script>
        if ("{{ userid | safe }}") {
            const userID = "{{ userid | safe }}";
            const userElement = document.getElementById('user');
            userElement.textContent = userID;
            userElement.removeAttribute("href");
        }
    </script>
</body>

</html>