{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
</head>

<body>
    <div id="particles-js">
        <div id="wrapper">
            <div id="header">
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}" class="border">Home</a></li>
                        <li><a href="{% url 'sharePlatformSearch' %}" class="border">Article Search</a></li>
                        <li><a href="{% url 'sharePlatformPost' %}" class="border">Article Post</a></li>
                        <li><a href="{% url 'login' %}" id="user">Login</a></li>
                    </ul>
                </nav>
            </div>

            <div id="main">
                <div class="articleBox">
                    <h1>BreakingCipherとは</h1>

                    <!-- このサイトの説明を追加予定-->
                    <h3>このサイトでは、大きく3つのことができます</h3>
                    <div class="orderList">
                        <ol>
                            <li>ユーザー自身が暗号を投稿できる！</li>
                            <li>それらを他のユーザー達とコメントしながら解読できる!</li>
                            <li>公式が出題する暗号を他のユーザーとタイムで競い合いながら解読できる!</li>
                        </ol>
                    </div>
                </div>

                <div class="articleBox">
                    <h2 id="HowToPost">記事の投稿方法</h2>

                    <!--記事の投稿の仕方-->
                    <h3>記事を投稿するには、5つの手順を踏むだけ!</h3>

                    <div class="orderList">
                        <ol>
                            <li>ホームページから記事一覧をクリック!</li>
                            <li>ユーザーIDを公開して投稿するか、匿名IDとして投稿するかを選択</li>
                            <li>タイトルと暗号の説明を入力</li>
                            <li>暗号をPDF形式かファイル形式でアップロード</li>
                            <li>「投稿する」をクリックすれば完了!</li>
                        </ol>
                    </div>
                </div>

                <div class="articleBox">

                    <h2>このサイトについて</h2>

                    <!--公式暗号についての説明-->
                    <p>このサイト内にはいくつかの暗号が...<br>
                        それらを見つけ、解読してみよう!<br>
                        その解読時間で全国のユーザー達と競い合うことができます!<br>
                        あなたはいくつ見つけられるかな？
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
    <script>
        if ("{{ userid | safe }}") {
            const userID = "{{ userid | safe }}";
            const userElement = document.getElementById('user');
            userElement.textContent = userID;
            userElement.removeAttribute("href");
        }
    </script>
</body>

</html>