{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
</head>

<body>
    <div id="particles-js">
        <div id="mist">
            <div id="wrapper">
                <div id="header">
                    <nav>
                        <ul>
                            <li class="border"><a href="{% url 'index' %}">Home</a></li>
                            <li class="border"><a href="{% url 'sharePlatformSearch' %}">Article Search</a></li>
                            <li class="border"><a href="{% url 'sharePlatformPost' %}">Article Post</a></li>
                            <li><a href="{% url 'login' %}" id="user">Login</a></li>
                        </ul>
                    </nav>
                </div>

                <div id="main">
                    <h1>ログイン</h1>
                    <div id="inputBox">
                        <form id="loginForm">
                            {% csrf_token %}

                            <!--ユーザーネーム入力欄-->
                            <div class="inBox">
                                <label for="userid">ユーザID</label><br>
                                <input id="userid" class="inputBox" name="userid" type="text" placeholder="User ID">
                                <div class="underLine"></div>
                            </div>

                            <!--パスワード入力欄-->
                            <div class="inBox">
                                <button type="button" id="unclose" class="uncloseLogin"><img src="{% static 'images/unclose.png' %}"
                                        alt="unclose" width="30px"></button>
                                <label for="password">パスワード</label><br>
                                <input id="password" class="inputBox" name="password" type="password"
                                    placeholder="Password">
                                <div class="underLine"></div>
                            </div>
                            <button type="submit" id="submitBotton">Go</button>
                        </form>
                        <div id="errorBox"></div>
                        <div id="underInBox">
                            <a href="{% url 'createAccount' %}" id="movePage">アカウント新規作成はこちら</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
    <script>
        const loginFormElement = document.getElementById("loginForm");

        loginFormElement.addEventListener("submit", (event) => {
            const form = new FormData(loginFormElement);
            const userid = document.getElementById("userid").value;
            const password = document.getElementById("password").value;

            event.preventDefault();

            fetch("{% url 'login' %}", {
                method: "POST",
                body: form,
            })
            .then(response => {
                return response.text()
            })
            .then(text => {
                if (text === "True") {
                    const path = '/';
                    const maxAge = '60*60*24*30';
                    const samesite = 'lax';

                    /*userIDをcookieに保存*/
                    document.cookie = "userid=" + userid +
                        "; path=" + path +
                        "; max-age=" + maxAge +
                        "; samesite=" + samesite;

                    /*passwordをcookieに保存*/
                    document.cookie = "password=" + password +
                        "; path=" + path +
                        "; max-age=" + maxAge +
                        "; samesite=" + samesite;

                    window.location.href = "{% url 'index' %}";
                } else {
                    const errorElement = document.getElementById("errorBox");
                    errorElement.innerHTML = "<p id='error'>ユーザIDかパスワードが不正です</p>";
                }
            })
        })

        //パスワード欄を一瞬だけ見えるようにする機能
        const uncloseElement = document.getElementById("unclose");
        const passwordElement = document.getElementById("password");

        uncloseElement.addEventListener("mousedown", (event) => {
            event.preventDefault();
            passwordElement.type = "text";
        })

        uncloseElement.addEventListener("mouseup", (event) => {
            event.preventDefault();
            passwordElement.type = "password";
        })
    </script>
</body>
</html>