{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp/sharePlatformSearch.html</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sharePlatformSearch.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
</head>

<body>
    <div id="particles-js">
        <div id="wrapper">
            <div id="header">
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}" class="border">Home</a></li>
                        <li><a href="{% url 'sharePlatformSearch' %}" class="border">Article</a></li>
                        <li><a href="{% url 'login' %}" id="user">Login</a></li>
                    </ul>
                </nav>
            </div>

            <div id="main">
                <div id="leftBox">   
                    <div class="leftBoxTop">
                    <h1>記事一覧</h1>
                        <a href="{% url 'sharePlatformPost' %}">※記事を投稿する場合はこちら</a>

                        <!--検索ボックス-->
                        <form action="" method="GET">
                            {% csrf_token %}
                            <div id="leftBoxBottom">
                                <label for="searchBox"><img class="inputBoxImg" src="{% static 'images/search_image.png' %}" alt="虫眼鏡の画像"
                                    width="22px"></label>
                                <input type="text" id="searchBox" class="inputBox" name="searchbox" placeholder="記事を検索する">
                                <div class="textUnderLine"></div>
                            </div>
                        </form>
                    </div>

                    <div class="articleBox">

                        <!--投稿記事一覧欄-->
                        {% if articles %}

                        {% for article in articles %}
                        <div class="article">
                            <a href="#preview" onclick="preview('{{ article.article_data.url }}')">
                                <h2>{{ article.title }}</h2>

                                {% if article.user_id %}
                                <p class="user">{{ article.user_id }}
                                    <span>{{ article.time }}</span>
                                </p>
                                {% else %}
                                <p class="user">匿名ID
                                    <span>{{ article.time }}</span>
                                </p>
                                {% endif %}

                                <p>{{ article.content }}</p>
                            </a>
                        </div>
                        {% endfor %}

                        {% else %}
                        <div class="article">
                            <p>記事が見つかりませんでした。</p>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div id="rightBox">

                    <!--記事のプレビュー-->
                    <div id="preview">
                        <div>
                        <p>Article<br>showed<br>here</p>
                    </div>
                    </div>

                    <form method="POST" action="">
                        {% csrf_token %}
                        <div id="answerBox">
                        <label for="answer">
                            <img src="{% static 'images/answer_image.png' %}" class="inputBoxImg" alt="A.の画像" width="22px">
                        </label>
                            <input type="text" id="answer" class="inputBox" name="answer" placeholder="答えを入力する" required>
                            <div class="textUnderLine"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
    <script>
        if ("{{ userid | safe }}") {
            const userID = "{{ userid | safe }}";
            const userElement = document.getElementById('user');
            userElement.textContent = userID;
            userElement.removeAttribute("href");
        }

        //記事を表示する機能
        const previewElement = document.getElementById("preview");

        function preview(articleData) {
            console.log(articleData);
            const iframe = '<iframe src="' + articleData + '#page=1&scrollbar=0" width="100%" height="100%"' +
                ' scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>';
            previewElement.innerHTML = iframe;
        }
    </script>
</body>

</html>