{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp/sharePlatformSearch.html</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sharePlatformPost.css' %}">
</head>

<body>
    <div id="header">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}" id="pageTitle">BreakingCipher.jp</a></li>
                <li><a href="{% url 'sharePlatformSearch' %}">暗号投稿記事一覧へ</a></li>
                <li><a href="{% url 'login' %}" id="user">ログイン</a></li>
            </ul>
        </nav>
    </div>

    <div id="main">
        <div class="articleBox">
            <h1>記事一覧</h1>
            <a src="index.html#HowToPost">このページのヘルプ</a>
        </div>

        <div class="articleBox">
            <form action="" method="POST">
                <div id="leftBox">
                    {% csrf_token %}
                    <p>投稿するユーザーIDの選択</p>
                    <ul>
                        <li>
                            <label for="loginUserID"><input type="radio" name="userID" value="longinUserID"
                                    id="loginUserID">ログイン中のユーザーID</label>
                        </li>
                        <li>
                            <label for="anonymousID"><input type="radio" name="userID" value="anonymousID"
                                    id="anonymousID" checked>匿名ID</label>
                        </li>
                    </ul>

                    <label for="title">タイトル<br>
                        <input type="text" id="title" name="title" placeholder="タイトル" required></label><br>

                    <label for="contents">内容<br>
                        <textarea name="contents" id="contents" placeholder="暗号の説明" required></textarea></label>

                </div>

                <div id="rightBox">
                    <p>pdfアップロード</p>

                    <!--pdfアップロード欄-->

                </div>

                <button type="submit">投稿する</button>
            </form>
        </div>
    </div>

    <script src="{% static 'index.js' %}" defer></script>
    <script>
        if ("{{ userid | safe }}") {
            const userID = "{{ userid | safe }}";
            const userElement = document.getElementById('user');
            userElement.textContent = userID;
            userElement.removeAttribute("href");
        }
    </script>
</body>

</html>