{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp/sharePlatformSearch.html</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sharePlatformPost.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
</head>

<body>
    <div id="particles-js">
        <div id="wrapper">
            <div id="header">
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}" class="border">Home</a></li>
                        <li><a href="{% url 'sharePlatformSearch' %}" class="border">Article Search</a></li>
                        <li><a href="{% url 'sharePlatformPost' %}" class="border">Article Post</a></li>
                        <li><a href="{% url 'login' %}" id="user">Login</a></li>
                    </ul>
                </nav>
            </div>

            <div id="main">
                <h1>記事の投稿</h1>
                <div id="help">
                    <a href="{% url 'index' %}#HowToPost">※このページのヘルプ</a>
                </div>

                <div id="formBox">
                    <form id="articlePush">
                        <div id="formInBox">
                            <div id="leftBox">
                                {% csrf_token %}
                                <h2>投稿するユーザーIDの選択</h2>
                                <ul>
                                    <li>
                                        <label for="loginUserID"><input type="radio" name="userID" value="longinUserID"
                                                id="loginUserID">ログイン中のユーザーID</label>
                                    </li>
                                    <li>
                                        <label for="anonymousID"><input type="radio" name="userID" value="anonymousID"
                                                id="anonymousID" checked>匿名ID</label>
                                    </li>
                                </ul>
                                <label for="title" class="label">タイトル</label>
                                <div class="inputBox">
                                    <input type="text" id="title" class="textBox" name="title" placeholder="タイトルを入力" required><br>
                                </div>
                                <label for="content" class="label">内容</label>
                                <div class="inputBox">
                                    <textarea name="content" id="content" placeholder="説明を入力" required></textarea>
                                </div>
                            </div>

                            <div id="rightBox">
                                <label for="articleData" class="label">pdfアップロード</label>
                                <div id="preview">
                                    <div id="dropBox">
                                        <div id="dropBoxWrap">
                                            <p>ファイルをドロップ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="inputBox">
                                <input type="file" id="articleData" name="articleData" required>
                                </div>
                                <label for="answer" class="label">正解</label>
                                <div class="inputBox">
                                <input type="text" id="answer" class="textBox" name="answer" placeholder="正解を入力" required>
                                </div>
                            </div>
                        </div>
                        <div id="button">
                            <button type="submit">投稿する</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
    <script>
        if ("{{ userid | safe }}") {
            const userID = "{{ userid | safe }}";
            const userElement = document.getElementById('user');
            userElement.textContent = userID;
            userElement.removeAttribute("href");
        }

        /* 投稿機能 */
        const dropBoxElement = document.getElementById("dropBox");
        const inputFileElement = document.getElementById('articleData');
        const instantPreviewElement = document.getElementById("preview");

        //ドラッグした時の処理
        dropBoxElement.addEventListener("dragover", (event) => {
            event.preventDefault();
        });

        //ドラッグをやめた時の処理
        dropBoxElement.addEventListener("dragleave", (event) => {

        });

        //ドロップorアップロードした時の処理
        dropBoxElement.addEventListener("drop", (event) => {
            event.preventDefault();
            if (event.dataTransfer.files.length > 0) {
                inputFileElement.files = event.dataTransfer.files;
                inputFileElement.dispatchEvent(new Event('change'));
            }
        });

        //記事のプレビュー機能
        inputFileElement.addEventListener('change', event => {
            const url = window.URL.createObjectURL(event.target.files[0]);
            instantPreviewElement.innerHTML =
                '<iframe src="' + url + '#page=1&scrollbar=0" width="100%" height="100%"' +
                ' scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>';
        });

        //submitした後の処理
        const articlePushElement = document.getElementById("articlePush");
        articlePushElement.addEventListener("submit", (event) => {
            event.preventDefault();
            const userIDValue = articlePushElement.userID

            function postFormData() {
                const form = new FormData(articlePushElement);
                fetch("{% url 'sharePlatformPost' %}", {
                    method: "POST",
                    body: form
                })

                window.location.href = "{% url 'sharePlatformPostEnd' %}"
            }

            //ログイン中のIDを使う場合
            if (userIDValue[0].checked) {

                //ログインしていたら投稿
                if ("{{ userid | safe }}") {
                    postFormData()
                }

                //ログインしていなかったら警告
                else {
                    alert("ログインしてません");
                };
            }

            //匿名を使う場合
            else {
                postFormData()
            }
        })
    </script>
</body>

</html>