{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp/sharePlatformPostEnd.html</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sharePlatformPostEnd.css' %}">
</head>
<body>
    <div id="header">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}" id="pageTitle">BreakingCipher.jp</a></li>
                <li><a href="{% url 'sharePlatformSearch' %}">暗号投稿記事一覧へ</a></li>
                <li><a href="{% url 'login' %}" id="user">ログイン</a></li>
            </ul>
        </nav>
    </div>
    <div id="main">
        <p>投稿が完了しました。</p>
        <a href="{% url 'index' %}">Topへ戻る</a>
    </div>

    <script src="{% static 'index.js' %}" defer></script>
    <script>
        if ("{{ userid | safe }}") {
            const userID = "{{ userid | safe }}";
            const userElement = document.getElementById('user');
            userElement.textContent = userID;
            userElement.removeAttribute("href");
        }
    </script>
</body>

</html>