@charset "utf-8";

body {
	height: 100%; /*高さを100%にして描画エリアをとる*/
    margin: 0;
}

#particles-js { 
	width: 100%;
	height: 100%;
	background-color:#040828; /*背景色*/
    z-index: -1;
    position: fixed;
}

#wrapper {
    z-index: 1;
    width:100%;
    height: 100%;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index:-2;
}

 nav ul{
    display: flex;
    list-style: none;
    background-color: white;
    z-index: 2;
    padding: 12px 0px;
    width: 60%;
    max-width: 650px;
    min-width: 460px;
    margin: 20px auto;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid rgb(177, 177, 177);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

ul li a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0 23px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

ul li a:hover {
    color: gray;
}

.border {
    border-right: 1px solid rgb(234, 234, 234);
    box-shadow: 1px 0 0 rgb(195, 195, 195);
}

::-webkit-scrollbar{
    width: 10px;
 }

::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0);
    margin: 5px 0;
 }

::-webkit-scrollbar-thumb{
    background-color:#056e67;
    border-radius: 5px;
 }