@charset "utf-8";

body {
    margin: 0;
    background-image: url();
    background-attachment: fixed;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}