@charset "utf-8";

#main {
    height: 100%;
    display: flex;
    justify-content: center;
}

#rightBox {
    box-sizing: border-box;
    z-index: 5;
    height: 85vh;
    overflow: auto;
    background-color: white;
    margin: 0 30px;
    padding: 30px;
    width: 45%;
    min-width: 400px;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    border: 1.5px solid rgb(177, 177, 177);
}

#leftBox {
    margin-left: 30px; 
    box-sizing: border-box;
    z-index: 5;
    overflow: auto;
    height: 85vh;
    background-color: white;
    padding-bottom: 30px; 
    width: 40%;
    min-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    border: 1.5px solid rgb(177, 177, 177);
}

h1 {
    margin: 0;
    border-bottom: 1px solid black;
    padding-left: 1rem;
}

.article a h2 {
    margin: 0;
    padding: 10px 0;
}

.article {
    border-bottom: 2px solid rgb(210, 208, 208);
    padding: 0 40px;
}

.noArticle p {
    text-align: center;
    margin: 50px auto;
    font-size: 18px;
}

.article a {
    text-decoration: none;
    color: black;
}

.article a p {
    margin: 0;
}

.user {
    font-size: 18px;
}

.content {
    padding: 10px 0;
    font-size: 18px;
}

.user span {
    font-size: 16px;
    padding: 0 20px;
}

.article:active {
    background-color:rgb(193, 193, 193);
}

.leftBoxTop {
    border-bottom: 1px solid rgb(135, 135, 135);
    padding: 30px 35px 20px 30px;
    background-color: white;
    position: sticky;
    left: 0;
    top: 0;
    box-shadow: 0 10px 10px -12px rgb(72, 72, 72);
}

.leftBoxTop a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#preview {
    height: 650px;
    position: relative;
}

#preview div p {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: gray;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preview div {
    width: 100%;
    height: 100%;
    border: 5px solid gray;
}

.inputBox {
    width: 75%;
    font-size: 18px;
    border: none;
    outline: none;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.textUnderLine {
    position: relative;
    border-bottom: 1px solid #c2c2c2;
    width: 80%;
}

.textUnderLine::before,
.textUnderLine::after {
    position: absolute; 
    width: 0px; /*アニメーションで0pxから50%に*/
    height: 1px; /*高さ*/
    content: '';
    background-color: #72eded; /*アニメーションの色*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.textUnderLine::before {
    left: 50%; /*中央配置*/
}

/*中央から左へのアニメーション*/
.textUnderLine::after { 
    right: 50%; /*中央配置*/
}

.inputBox:focus + .textUnderLine::before,
.inputBox:focus + .textUnderLine::after {
    width: 50%;
}

.inputBoxImg {
    vertical-align: -4px;
}

#leftBoxBottom {
    margin-top: 25px;
}

#answerBox {
    padding-top: 40px;
}

#pageMove {
    padding-top: 10px;
}

.articleHeader span {
    font-weight: normal;
    font-size: 17px;
}