@charset "utf-8";

#main {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgb(177, 177, 177);
    margin: 70px auto;
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

#main h1 {
    margin-top: 0;
    border-bottom: 1px solid black;
}

.inBox label {
    font-weight: 20px;
}

.inBox {
    padding: 10px 0;
    position: relative;
}

#underInBox {
    padding-top: 10px;
}

#movePage {
    color: black;
    
}

#error {
    font-size: 16px;
    color: rgb(159, 0, 0);
}

#unclose {
    position: absolute;
    left: 71%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    vertical-align: -10px;
    padding: 0 4px;
    border-radius: 10px;
}

.uncloseLogin {
    top: 45%;
}

.uncloseCreateAccount {
    top: 60%;
}

#unclose:active {
    background-color:rgba(193, 193, 193, 0.517);
}

.inputBox {
    width: 200px;
    font-size: 18px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.underLine {
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #c2c2c2;
    width: 200px;
}

.underLine::before,
.underLine::after {
    position: absolute; 
    width: 0px; /*アニメーションで0pxから50%に*/
    height: 1px; /*高さ*/
    content: '';
    background-color: #07008d; /*アニメーションの色*/
    transition: all 0.5s;
}

.underLine::before {
    left: 50%; /*中央配置*/
}

/*中央から左へのアニメーション*/
.underLine::after { 
    right: 50%; /*中央配置*/
}

.inputBox:focus + .underLine::before,
.inputBox:focus + .underLine::after {
    width: 50%;
}

#required {
    font-size: 15px;
    margin: 10px 0;
}

#submitBotton {
    border: 1px solid rgb(116, 116, 116);
    border-radius: 7px;
    height: 30px;
    width: 90px;
    background-color: white;
    font-size: 15px;
    font-weight:bold;
    color: rgb(116, 116, 116);
    padding-bottom: 3px;
    transition: all 0.5s;
}

#submitBotton:hover {
    background-color: rgba(190, 190, 190, 0.458);
    border: 1px solid rgb(59, 59, 59);
    color: rgb(59, 59, 59);
    border-radius: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: navy;
}