<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BreakingCipher.jp/officialCipher.html</title>
    <link rel="stylesheet" type="text/css" href="../static/css/officialCipher.css">
</head>
<body>
    <div id="header">
        <nav>
            <ul>
                <li><a href="./index.html" id="pageTitle">BreakingCipher.jp</a></li>
                <li><a href="./sharePlatformSearch.html">暗号投稿記事一覧へ</a></li>
                <li><a href="./officialCipher.html">xxxxxxxxxx へ</a></li>
                <li><a href="./login.html" id="user">ログイン</a></li>
            </ul>
        </nav>

        <!--あとで考える-->
    </div>

</body>

</html>